.AvatarWrapper {
    position: fixed;
    background: hsla(0, 0%, 0%, 0.4);
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: 0;
    z-index: 20;
    display: flex;
    justify-content: center;
    align-items: center;
    .avatar {
        color: #FFF;
        display: flex;
        flex-wrap: wrap;
        box-shadow: 0 10px 10px rgba(0, 0, 0, 0.5);
        width: 650px;
        padding: 20px;
        background: #875AD4;
        header {
            width: 100%;
            padding: 20px;
            display: flex;
            justify-content: space-between;
        }
        #imgSide {
            flex-grow: 1;
            .control{
                width: 300px;
                height: 300px;
                margin: 0 auto;
                box-sizing: content-box;
                border: 2px solid #E6AC71;
                position: relative;
                background: #1C5FE6;
                overflow: hidden;
                #getImg {
                    position:absolute;
                    box-sizing: content-box;
                }
                #edit {
                    position:absolute;
                    display:none;
                }
                #clip {
                    position:absolute;
                    z-index: 9999;
                    display:none;
                    top: 0px;
                    left: 0px;
                }
            }
            .upload{
                text-align: center;
                .uploadImg {
                    margin: 10px;
                    padding: 4px 10px;
                    background: rgba(3,169,244 ,1);
                    border-radius: 4px;
                    position: relative;
                    box-shadow: 0 0px 3px 0 rgba(27, 18, 42, 0.3);
                    &:hover {
                        box-shadow: 0 0px 6px 0 rgba(27, 18, 42, 0.4);
                    }
                    input[type=file] {
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 86px;
                        height: 28px;
                        opacity: 0;
                        font-size: 0;
                        cursor: pointer;
                        z-index: 2;
                    }
                }
            }
            .operate {
                display: flex;
                align-items: center;
                .saveAvatar {
                    margin: 10px;
                    padding: 4px 10px;
                    display: inline-block;
                    background: rgba(3,169,244 ,1);
                    border-radius: 4px;
                }
                input[type="range"] {
                    flex: 1;
                }    
         }
            
        }
        #avatarSide {
            flex-grow: 1;
            height: 304px;
            display: flex;
            justify-content: center;
            align-items: center;
            .showEdit {
                 display: block; 
                 margin: 0 auto;
                 border:2px solid #E6AC71;
            }
        }
        
    }
}