#user {
    background: #EEE; 
    flex: 1;
    margin-left: 16px;
    padding: 2em;
    overflow-y: scroll; 
     display: flex;
     flex-direction: column;
    .info {
        margin-top: 10px;
        padding: 10px;
        .infoTitle {
            display: inline-flex;
            justify-content: flex-end;
            width: 80px;
            font-weight: bold;
        }
        .infoContent {
            margin-left: 50px;
        }
        .button {
            padding: 5px 10px;
            height: 42px;
            border: none;
            cursor: pointer;
            font-size: 18px;
            background: #6DCBA0;
            color: #222;
            display: inline-flex;
            justify-content: center;
            align-items: center;
            vertical-align: center;
            box-shadow: 1px 1px 2px hsla(0, 0, 0, 0.50);
            &:hover {
                box-shadow: 1px 1px 10px hsla(0, 0, 0, 0.50);
                text-decoration: none;
            }
        }
    }
}