#topbar {
    background: #FFF;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
    .wrapper {
        min-width: 1024px;
        max-width: 1440px;
        margin: 0 auto;
        height: 64px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 16px;
    }
    .logo {
        font-size: 24px;
        color: #000;
    }
    .button {
        width: 72px;
        height: 32px;
        border: none;
        cursor: pointer;
        font-size: 18px;
        background: #6DCBA0;
        color: #222;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        vertical-align: center;
        box-shadow: 1px 1px 2px hsla(0, 0, 0, 0.50);
        &:hover {
            box-shadow: 1px 1px 10px hsla(0, 0, 0, 0.50);
        }
        &.primary {
            background: #02af5f;
            color: #FFF;
        }
    }
    .actions {
        display: flex;
        .userActions {
            margin-right: 3em;
            .welcome {
                margin-right: 0.5em;
            }
        }
    }
}