#addLink {
    .link {
        background: rgba(0,172,193 ,1);
    }
    #LinkDialog {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background: #FFF;
        padding: 10px 20px;
        z-index: 10;
        width: 90%;
        header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin: 10px;
            height: 24px;
        }
        h3 {
            display: inline-block;
        }
        /*.text {
            display: inline-block;
            width: 100%;
            height: 40px;
            margin: 4px 0;
            position: relative;
            overflow: hidden;
            .textBottom {
                display: inline-block;
                width: 100%;
                height: 4px;
                position: absolute;
                bottom: 0;
                &::after {
                    content: '';
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    width: 100%;
                    height: 4px;
                    border-bottom: 4px solid rgba(0, 170, 255, 1);
                    transform: translate3d(-200%, 0, 0);
                    transition: transform 0.3s;
                }
            }
        }
        input[type=text] {
            outline: none;
            border: none;
            width: 100%;
            height: 100%;
            padding: 0 8px;
            border-bottom: 2px solid #B9C1CA;
            &:focus+.textBottom::after{
                transform: translate3d(0, 0, 0);
            }
        }*/
        .controls {
            display: flex;
            justify-content: flex-end;
            .confirm {
                 background: rgb(255, 183, 113);
                 color: #FFF;
                 margin: 0 10px;
            }
            .cancle {
                 background: #F7707E;
                 color: #FFF;
                 margin: 0 10px;
            }
        }

    }
    .link-mark {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: rgba(0, 0, 0, 0.5);
        z-index: 9;
    }

}