#addLink {
    /*.btn{
        cursor: pointer;
        margin: 10px;
        padding: 4px 10px;
        display: inline-block;   
        border-radius: 4px;
    }*/
    .link {
        background: #D0EEFF;
        color: #0C69CD;
    }
    #LinkDialog {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background: #FFF;
        padding: 10px 20px;
        z-index: 10;
        width: 90%;
        header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin: 10px;
            height: 24px;
        }
        h3 {
            display: inline-block;
        }
        input[type=text] {
            margin: 10px 0;
            padding: 5px 20px;
            width: 100%;
        }
        .controls {
            display: flex;
            justify-content: flex-end;
            .confirm {
                 background: rgb(255, 183, 113);
                 color: #FFF;
                 margin: 0 10px;
            }
            .cancle {
                 background: #F7707E;
                 color: #FFF;
                 margin: 0 10px;
            }
        }

    }
    .link-mark {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: rgba(0, 0, 0, 0.5);
        z-index: 9;
    }

}