.dialogWrapper {
    position: fixed;
    background: hsla(0, 0%, 0%, 0.25);
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    .dialog {
        background: #EEE;
        min-height: 4em;
        min-width: 10em;
        border: 4px solid #BFE2FA;
        header {
            padding: 20px;
            display: flex;
            justify-content: space-between;
            .close {
                cursor: pointer;
                transition: all 0.8s ease-in-out;
                &:hover {
                    transform: rotate(360deg);
                }
            }
        }
        main {
            padding: 20px;
            padding-top: 0;
        }
    }
}